body{
    background-color: rgb(158, 192, 125);
}
*{
    margin: auto;
    border:0;
}


.coo ,.part{
    
    width: 300px;
    height: 100px;
    background-color:rgb(219, 174, 106) ;
margin: 50px 0 0 300px
00px;
}
.doo{
    width: 300px;
    height: 100px;
    background-color:rgb(106, 212, 219) ;
}
.boo{
    margin-left:15px, auto;
    width: 500px;
    height: 100px;
    background-color:rgb(226, 98, 98) ;
}
.co{
    width: 100px;
    height: 50px;
    background-color:rgb(42, 208, 214) ;
    float: left;
}
.coco{
    width: 100px;
    height: 50px;
    background-color:rgb(84, 146, 98) ;
    float: left;
}
.koo{
    width: 100px;
    height: 50px;
    background-color:rgb(168, 88, 189) ;
    float: left;
}
.xoo{
    width: 300px;
    height: 50px;
    background-color:rgb(73, 71, 194) ;
    float: left;
}
    .text1{    
    }